.MyButton{
padding: 4px 0;
	background-color: #19703C;
	display: inline-block;
	color: white;
	font-size: 30px;
	font-weight:300;
	text-transform: uppercase;
	min-width: 340px;
	transition: 0.2s;
	cursor: pointer;
}

.MyButton.active{
	padding: 4px 0;
		background-color: #FFCC33;
		display: inline-block;
		color: white;
		font-size: 30px;
		font-weight:300;
		text-transform: uppercase;
		min-width: 340px;
		transition: 0.2s;
		cursor: pointer;
	}